<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adiciona Cliente</title>

</head>

<body>
    <style>
        table, tr, td, th{
            border: 1px solid black;
        }
        tr, td, th{
            padding: 10px;
            text-align: center;
        }
        ul{
            margin-bottom: 15px;
        }
        input{
            margin-bottom: 15px;
            padding: 10px;
        }
        img{
            min-height: 200px;
            max-width:200px ;
        }
    </style>
    <ul>
        <li>
            <a href="/admin/cliente/">Listar</a>
        </li>
        <li>
            <a href="/admin/cliente/add">Adicionar</a>
        </li>
    </ul>
    
    <form method="post" enctype="multipart/form-data">
        Id: <input type="text" name="id" readonly value="<%=cliente.id%>"> <br>
        Nome: <input type="text" name="nome" placeholder="Digite seu nome" value="<%=cliente.nome%>"><br>
        Sobrenome: <input type="text" name="sobrenome" placeholder="Digite seu sobrenome" value="<%=cliente.sobrenome%>"><br>
        Genero: <input type="text" name="genero" placeholder="Digite seu genero" value="<%=cliente.genero%>"><br>
        Endereco: <input type="text" name="endereco" placeholder="Digite seu endereço" value="<%=cliente.endereco%>"><br>
        Cidade: <input type="text" name="cidade" placeholder="Qual é sua cidade " value="<%=cliente.cidade%>"><br>
        Estado: <input type="text" name="estado" placeholder="Estado onde você mora" value="<%=cliente.estado%>"><br>
        Email: <input type="email" name="email" placeholder="Digite seu email" value="<%=cliente.email%>"><br>
        Senha: <input type="password" name="senha" placeholder="Digite sua senha" value="<%=cliente.senha%>"><br>
        <img src="/uploads/<%=cliente.foto%>" ><br>
        Se desejar alterar a imagem selecione uma nova: <input type="file" name="foto"><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>